body
{
    background-color: #000000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

h1
{
    font-size: 48;
    text-align: center;
}

.biography  
{
    font-size: 1rem; 
    line-height: 1.6; 
    margin-bottom: 1.5rem;
    padding-left: 300px; 
    padding-right: 200px; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar
{
    background-color: #000000;
    background-image: url("../res/images/TopBorderOverlay.png");
    background-size: cover;
}

#main-logo-button
{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#main-logo-button:hover
{
    background-color: #5555550a;
}

.navbar-nav 
{
  display: flex;
  gap: 1.5rem;                   
  margin: 0;
  padding: 0;
}

.navbar .nav-link 
{
  color: #fff;
  font-size: 1.2rem;           
  font-weight: 500;
  transition: color 0.3s;
}

.navbar .nav-link:hover 
{
  color: #a1a1a1;              
}

#main-content
{
    width: 100%;
    min-height: 100vh;
}

.main-background 
{
    background-image: url("../res/images/MainBackground.png");
    background-size: cover;        
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}         

footer 
{
  background-color: #00000083;   
  background-image: url("../res/images/BottomOverlay.png");    
  background-size: cover;    
  display: flex;
  padding: 4rem;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  box-shadow: 0 -0.15rem 0.35rem rgba(0,0,0,0.2);
}

footer .social-icons 
{
  display: flex;
  align-items: center;
  gap: 0.95rem;
}

footer .social-icons a 
{
  color: #000;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: transform 0.2s, color 0.2s;
}

footer .social-icons a.social 
{
  background-color: #fff;
  border-radius: 50%;
  width: 3.1rem;
  height: 3.1rem;
  justify-content: center;
  box-shadow: 0 0 0.4rem rgba(0,0,0,0.4);
}

footer .social-icons a.social:hover 
{
  transform: scale(1.1);
  color: #444;
}

footer .copyright
{
  color: #555;
  font-size: 0.85rem;
}

footer .social-icons a.discord 
{
    color: #ffffff;
    font-size: large;
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.4rem 1.25rem;
    font-weight: 700;
    box-shadow: 0 0 0.6rem rgba(0,0,0,0.4);
    transition: transform 0.2s, background-color 0.2s;

    display: flex;                
    align-items: center;         
    justify-content: center;      
    gap: 0.35rem;                     
}

.fa-brands 
{
    font-size: 1.25rem;
    width: 3.1rem;
    text-align: center;
    text-decoration: none;
    margin: 0.35rem 0.15rem;
}

.game-link {
    display: block;
    cursor: pointer;
}

.game-link:hover img {
    opacity: 0.85; 
    transform: scale(1.02); 
    transition: all 0.3s ease-in-out;
}

.title 
{
  position: absolute;
  top: 10rem;                  
  left: 50%;  
  transform: translateX(-50%);
  pointer-events: none;
}

.platform-links-container {
    position: absolute; 
    bottom: 40px;       
    left: 50%;  
    transform: translateX(-50%); 
    z-index: 5;
    
    display: flex; 
    gap: 20px; 
    align-items: center;
}

.platform-links-container .icon 
{
    height: 50px; 
    width: auto;
}

.eotb-buy-now
{
    position: absolute; 
    bottom: 150px;
    left: 50%;  
    transform: translate(-50%); 
    color: #ffffff; 
    font-size: 36px;
    font-weight: bold;
    z-index: 10;
}

.game-description  
{
    /* ΑΥΤΗ ΕΙΝΑΙ Η ΚΑΙΡΙΑ ΠΡΟΣΘΗΚΗ */
    margin-top: 10vh; 
    
    font-size: 1.2rem; 
    line-height: 1.6; 
    margin-bottom: 1.5rem;
    padding-left: 300px; 
    padding-right: 200px; 
    padding-top: 20px;
    padding-bottom: 20px;
}