body
{
    background-color: #000000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

.navbar
{
    background-color: #000000;
    background-image: url("src/TopBorderOverlay.png");
    background-size: cover;
}

.navbar-nav {
  display: flex;
  gap: 1.5rem;                   
  margin: 0;
  padding: 0;
}

.navbar .nav-link {
  color: #fff;
  font-size: 1.2rem;           
  font-weight: 500;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: #a1a1a1;              
}

.main-background 
{
    background-image: url("src/MainBackground.png");
    background-size: cover;        
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;       
    margin-top: -150px;  
}         

.footer 
{
  background-color: #00000083;   
  background-image: url("src/BottomOverlay.png");    
  background-size: cover;    
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

.footer .social-icons 
{
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer .social-icons a 
{
  color: #000;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: transform 0.2s, color 0.2s;
}

.footer .social-icons a.social 
{
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.footer .social-icons a.social:hover 
{
  transform: scale(1.1);
  color: #444;
}

.footer .copyright
{
  color: #555;
  font-size: 0.85rem;
}

.footer .social-icons a.discord {
    color: #ffffff;
    font-size: large;
    text-align: center;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 700;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    transition: transform 0.2s, background-color 0.2s;

    display: flex;                
    align-items: center;         
    justify-content: center;      
    gap: 5px;                     
}

.fa-brands 
{
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}


